body {
	background-color: #4b5c54;
}
.titel-2{

text-align: center;
color: black ;
text-shadow: 10px 10px 10px black;
}


.list ul li {
	float: right;
	list-style-type: none;
	padding: 5px;
	margin: 2px;
    font-size: 14px;
  	transition: all 1s ease-out;
	border: 2px solid #874526 ;
	background-color: #9FB7A0;
}
ul li{
	
}
.list ul li:hover {

	background-color: white;
    
}
a{
	text-decoration: none;
	color: burlywood;
	margin-left: 30px;
}


header {
	padding: 100px;
	color: black ;

	border: 2px solid rgba(245, 122, 7, 0.993);
	text-shadow: 10px 10px 10px black;
	text-align: center;
    background-color:   #9FB7A0;
    
}
h1{
	font-family: Festive; 
    font-weight: 1000;
	font-size: 70px;
}
h3 {
	float: right;
	
	

}
.titel-2{
	padding-bottom: 77px;
}
h2{
	text-shadow: 10px 10px 10px black;
	
	font-family: Festive ;
	font-size: 40px;

}
#van-gogh-bild {
	float: left;
	border-radius: 150px;
	box-shadow: 15px 10px 18px rgba(26, 26, 27, 0.979);
	margin: 20px;
	border: 4px solid rgba(250, 104, 6, 0.938);
	text-align: right;
}

img {
	height: 300px;
	width: 300px;
	margin: 10px;
	border: 3px solid rgb(243, 119, 4);
}

.stern-bild {
 
	height: 400px;
	width: 600px;
	float: right;
	box-shadow: 16px 12px 18px;
	margin: 20px;
}
.stern-text {
	margin: 10px;
	width: 800px;
	height: 400px;
	padding: 20px;

}
.blumen-bild {
	height: 450px;
	width: 450px;
	float: right;
	box-shadow: 16px 12px 18px;
	
}
.blumen-text{
  padding: 2px;
	margin: 10px;


}
.mandel-bild {
	height: 400px;
	width: 600px;
	float: right;
	box-shadow: 16px 12px 18px;
	margin: 10px;
}
.mandel-text {
	padding: 2px;
	margin: 10px;
}

.cafe-bild {
	height: 400px;
	width: 600px;
	float: right;
	box-shadow: 16px 12px 18px;
	margin: 10px;
}

.raben-bild {
	height: 550px;
	width: 500px;
	float: right;
	box-shadow: 16px 12px 18px;
	margin: 20px;
}
.raben-text{
	padding: 10px 10px 10px;
	margin: 20px;
 
  }

 
